/* form.css */
form {
    max-width: 600px;
    margin: 20px auto;
    position: relative; /* Make the form container a positioned element */
    padding: 20px; /* Add padding for inner content */
    border: 2px solid #fa0505; /* Outer border */
    border-style: double;
    
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 400px;
    padding: 8px;
    margin-bottom: 50px;
}

.submit-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;

    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: groove;
    cursor: pointer;
  }

button:hover {
    background-color: #0056b3;
}