/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f4f4;
  color: #000000;
}

.dark-mode {
  /* Adjust colors for dark mode */
  background-color: #000000;
  color: white
}

header, footer {
  background-image: linear-gradient(purple, gold); 
  color: white;
  padding: 10px 20px;
}

main {
  padding: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
