html {
  background: linear-gradient( to left,rgba(102, 81, 221, 0.5),rgba(31, 105, 44, 0.5));


}

body {  
  font-family: Arial, sans-serif;
  }
  
  header {
    border: 1px solid black;
    background-image: linear-gradient(to right,rgb(102 81 221 / 50%),rgb(31 105 44 / 50%));
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    border: 1px solid black;
    color: #ca0101;
    text-decoration: none;
  }
  
  main {
    border: 3px solid black;
    padding: 20px;
    margin-top: 100px;
  }
  
  .about,
  .subscribe {
    margin-bottom: 30px;
  }
  
  .about h2,
  .subscribe h2 {
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
  }
  
  input[type="email"] {
    flex: 1;
    padding: 8px;
  }
  
  button {
    padding: 8px 20px;
    cursor: pointer;
  }